# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
dist-ios/
dist-ios-*/
diagnostics/
.deno-cache/
*-build-check.log
dist-secure-content/
test-results/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*
!.env.example
!.env.ios.example

# typescript
*.tsbuildinfo

example

# generated native folders
/ios
/android
